@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100%;
    width: 100vw;
    background: rgb(225, 225, 225);
    overflow-x: hidden;
}
html{
    font-size: 10px;
}
header{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    flex: 0.5;
    display: flex;
}
.logo img:hover,
.logo h2:hover{
    cursor: pointer;
}
.logo > img{
    height: 4rem;
    width: 4.5rem;
    object-fit: contain;
}
.logo > h2{
    color: rgba(255, 68, 0, 0.829);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.6rem;
    margin-left: 1rem;
}
nav {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav li{
    color: rgb(234, 234, 234);
    font-weight:400;
    font-size: 1.7rem;
}
.nav-active{
    color: white;
}
.bg-style{
    height: 70%;
    width: 80%;
    background: rgba(255, 68, 0, 0.829);
    position: absolute;
    border-radius: 50%;
    top: -30%;
    right: -20%;
    z-index: -1;
}
button{
    border: 1.5px solid white;
    padding: 7px 15px;
    background: transparent;
    color:white;
}
.banner{
    height: 35rem;
    width: 100%;
    display: flex;
}
.banner .details{
    height: 100%;
    width: 50%;
    padding-top: 4rem;
    padding-left: 8rem;
}
.imgs{
    height: 100%;
    width: 50%;
}
.imgs img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.details > h2{
    font-size: 4rem;
    font-weight: bold;
    color: rgb(121, 32, 32);
    font-style: italic;
}
.details .btns{
    margin-top: 2rem;
    height: 10%;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
}
.btns button{
    border: 1.5px solid rgba(255, 68, 0, 0.829);
    border-radius: 1rem;
    padding: 7px 15px;
}
.btns button:nth-of-type(1){
    background: rgba(255, 68, 0, 0.829);
}
.btns button:nth-of-type(2){
    background: white;
    color: rgba(255, 68, 0, 0.829);
}
.subtitle{
    font-size: 2.4rem;
    font-weight: bold;
    padding-left: 7rem;
    color: rgb(121, 32, 32);
    font-style: italic;
}
.subtitle >span{
    color: rgba(255, 68, 0, 0.829);
}
button{
    cursor: pointer;
}
.item-container{
    padding:2rem 7rem;
    width:100%;
    max-height: 40rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10rem;
    row-gap: 4rem;
}
.item{
    border: 2px solid rgba(255, 68, 0, 0.829) ;
    border-radius:25% 25% 25% 25% / 50%;
    display: flex;
    overflow: hidden;
    max-width: 37.5rem;
    max-height:18.5rem;
    padding: 1rem;
}
.item-img{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-details{
    height: 100%;
    width: 60%;
    padding: 1rem;
}
.item-img img{
    height: 70%;
    width: 70%;
    object-fit:contain;
}
.item-details h2{
    color: rgb(121, 32, 32);
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
}
.item-details p{
    color: #878787;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.item-details p:nth-of-type(2){
    color: green !important;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.3rem;
}
.item-details button{
    background: rgba(255, 68, 0, 0.829);
    border-radius: 15px;
}
.describe{
    margin-top: 10rem;
    height: 28rem;
    width: 100%;
    position: relative;
    background: rgb(62, 18, 18);
    display: flex;
    flex-direction: column;
}
.describe .vectors{
    position: absolute;
    top: 5%;
    left: 0;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.vectors .vector-cont{
    height: 13rem;
    width: 9rem;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}
.vector-cont img{
    height: 65%;
    width: 100%;
    background: white;
    border-radius: 50%;
    object-fit: contain;
    box-shadow: 0px -5px 10px black;
}
.vector-cont p{
    font-size: 1.5rem;
    margin-top:1rem ;
}
.describe-details{
    padding: 7%;
    text-align: center;
    color: white;
}
.describe-details> h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.describe-details >p{
    margin-bottom: 4px;
    text-transform: capitalize;
    word-spacing: 2px;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(174, 174, 174);
}
.subcribe{
    min-height: 30rem;
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.subcribe h2{
    margin-top: 5rem;
    font-size: 2.5rem;
    color: rgb(116, 35, 35);
    font-style: italic;
}
.subcribe >h2 >span{
    color: rgba(255, 68, 0, 0.829);
}
.subcribe .input-container{
    height: 3rem;
    width: 70%;
    margin-top: 3rem;
}
.input-container input{
    border: 2px solid rgba(255, 68, 0, 0.829);
    background:rgba(255, 68, 0, 0.114) ;
    padding: 5px 15px;
    border-radius: 10px;
    width: 80%;
}
.input-container button{
    border: 1px solid rgba(255, 68, 0, 0.829);
    border-radius: 20px;
    background: rgba(255, 68, 0, 0.829);
    color: white;
    padding: 7px 30px;
    margin-left: 2rem;
}
.profile{
    height: 25rem;
    width: 100%;
    background: rgba(255, 68, 0, 0.114) ;
    padding: 2rem;
    display: flex;
}
.profile .pro-details{
    height: 100%;
    width: 50%;
    padding:2rem 10rem;
}
.profile .profile-card{
    position: relative;
    top: -25%;
    height: 18rem;
    width: 45%;
    background: white;
    padding: 2rem;
}
.profile-card img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid orangered;
    padding: 2px;
    position: relative;
    top: -35%;
    left: 4%;
    aspect-ratio: 1/1;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.667);
}
.profile-card p:nth-of-type(1){
    margin-top: -3rem;
    line-height: 2rem;
    font-size: 1.2rem;
}
.profile-card p:nth-of-type(2){
    color: orangered;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: right;
}
.pro-details h2{
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
}
.pro-details h2 > span{
    color: orangered;
}
.pro-details p{
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 2.3rem;
}
footer{
    margin-top: 5rem;
    height: 25rem;
    background: rgb(62, 18, 18);
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem;
    gap: 2rem;
}
.page-info,
.home-info,
.contact-info{
    padding: 2rem;
    list-style: none;
}
.home-info,
.page-info{
    border-right: 2px solid white;
}
.page-info li,
.contact-info li{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.home-info p{
    font-size: 1.3rem;
    line-height: 2.5rem;
}
@media  screen  and (max-width:420px) {
    html{
        font-size: 5px;
    }
    header nav,
    header button {
        display: none;
    }
    header{
        justify-content: start;
        padding: 1rem;
    }
    .banner{
        padding: 1rem;
        height: 25rem;
    }
    .banner .details{
        padding: 2rem;
    }
    .logo{
        flex: 0;
    }
    .bg-style{
        top: -40%;
        right:-40%;
    }
    .details h2{
        font-size: 2.5rem;
    }
    .btns button{
        font-size: 0.8rem;
        padding: .7rem;
    }
    .item-container{
        min-height: 100%;
        gap: 2rem;
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
    }
    body >h2,.subtitle{
        padding-left: 1rem;
    }
    .item{
        width: 30rem;
        border-width:1px ;
        height: 14rem;
    }
    .item h2{
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    .item p{
        font-size: 0.5rem;
        margin: 0;
        padding: 0;
    }
    .item button{
        padding: 0.5rem;
        margin: 0;
        font-size: 0.7rem;
        border-width: 1px;
    }
    .describe{
        margin-top: 14rem;
        height: 30rem;
    }
    .describe-details{
        margin-top: 7.5rem;
    }

    .input-container{
        min-width: 100%;
        justify-content:flex-start;
        padding: 1rem 2rem;
    }
    .input-container button{
        padding: 0;
        font-size: 0.7rem;
        height: 3rem;
        width: 20%;
    }
    .input-container input{
        width: 75%;
        height: 3rem;
        font-size: 0.7rem;
        border-radius: 0.5rem;
    }
    .profile{
        padding: 1rem;
        flex-direction: column;
        min-height: 35rem;
    }
    .pro-details{
        max-height: 50%;
        padding: 0 !important;
        min-width: 100%;
    }
    .pro-details h2{
        font-size: 1.5rem;
    }
    .pro-details p{
        font-size: 0.7rem;
    }
    .profile-card{
        min-width: 100%;
        padding: 1rem;
        bottom: 0;
        right: 0;
        top: 0% !important;
    }
    .profile-card p{
        font-size: 0.5rem;
    }
    footer{
         margin-top: 10rem;
         gap: 1rem;
         height: 20rem;
    }
    .home-info p{
        font-size: 0.6rem !important;
        line-height: 1.7rem;
    }
    .page-info li,
    .contact-info li{
        font-size: 0.7rem;
    }
    .home-info .logo h2{
        font-size: 2rem;
    }
    .home-info .logo img{
        height: 3rem;
        width: 3rem;
    }
}